[Unit]
Description=XEQM Labs service node
After=network-online.target
[Service]
Type=simple
User=%INSTALL_USERNAME%
ExecStart=%INSTALL_ROOT%/bin/daemon --non-interactive --service-node --no-zmq --restricted-rpc %PORT_PARAMS%%OPT_PARAMS%
Restart=always
RestartSec=30s
TimeoutSec=120
[Install]
WantedBy=multi-user.target
